@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Lora&family=Roboto&display=swap');   

/* Gothic display font for headings */
.gothic-font, #gothic-font, h1, h2, h3, h5 {
    font-family: "Pirata One", serif;
}

/* FONT SIZE H5 */
h5,
.h5 {
    font-size: 1.5rem !important; /* 24px */
}

/* Default font for body */
body {
    font-family: "Lora", serif !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: "Lora", serif;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Lora", serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Roboto", sans-serif;
}
